

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
	width: 100%;
}
.main-nav {
	display: inline-block;
	padding: 10px;
}
.main-nav ul {
	margin: 0;
}
.navbar-default {
	margin-bottom: 0;
}
.main-nav li {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px 0 10px;
	cursor: pointer;
}

.affix + .jumbotron {
    padding-top: 50px;
}

.navbar-default.affix {
    position: fixed;
    top: -55px;
    margin-top: 55px;
    z-index: 100;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.jumbotron {
	background-image: url();
	background-size: 100%;
	margin-bottom: 0;
	padding: 0;
	background-color: rgba(1,1,1,0);
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.col-md-9.bestsellers {
    text-align: center;
}
.thumbnail {
	text-align: center;
	border: none;
	box-shadow: none;
	margin: 15% 0;
	cursor: pointer;
}
h3.best-sellers-header{
	padding-bottom: 15px;
}

/*---- book list styles ---*/
@media (max-width: 960px) {
	.affix, .affix-top, .affix-bottom {
		position: static;
		text-align: center;
		margin: 0 !important;
	}
}
.booklist.affix + .bestsellers {
	margin-right: 16.7%;
}
.row-booklist-topsellers {
	margin-left: 15px;
	margin-top: 20px;
}
.booklist.affix {
	top: 0;
	right: 0;
	margin-top: 45px;
	margin-right: -8px;
}
.panel-group .panel,
.panel-default>.panel-heading,
.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-heading {
	border: none;
	box-shadow: none;
	background-image: none;
	background-color: #FFF;
	border-radius: 0;
}
.panel a:hover, .panel a:focus {
    text-decoration: none;
}
.panel-heading a {
	color: blue;
}
a.collapsed {
	color: #444;
}
.panel-heading:hover {
    border-left: 2px solid blue;
}
.panel-heading:hover a {
    color: blue;
}
.panel-group .panel + .panel {
	margin: 0;
}
.panel-body {
	padding: 0;
}
.panel-body li {
	list-style: none;
	margin-left: -30px;
	padding: 0 15px;
}
.panel-body li:hover {
    border-left: 1px solid blue;
    color: blue;
    cursor: pointer;
}
/*--- end booklist styles---*/
.row-form {
	margin: 0 15px;
	border: 1px solid blue;
	background-color: #EFEFEF;
	border-radius: 5px;
	padding: 15px;
}
.form-box {
    margin: 0 20%;
}
.form-box h1, p {
	margin-bottom: 30px;
}
.row-glyphicon {
	text-align: center;
	margin-top: 50px;
	padding: 50px 0;
	border-top: 1px solid #BBB;
	background-color: #EFEFEF;
}
.glyphicon-lg {
    display: inline-block;
}
.fa.glyphicon-lg {
    font-size: 50px;
    margin: 0 40px;
    color: #444;
    cursor: pointer;
}
.footer-icons {
	text-align: center;
}








